*{
 background-color: #CCCCDD

}


.box{
	color:red;
	margin: 1100px 1100px;
}
.box1{
	color:red;
		margin: 1100px;
}
.box2{
	color:red;
		margin: 1100px;

}
.box3{
	color:red;
		margin: 1100px;
}
.box4{
	color:red;
		margin: 1100px;

}
.box5{
	color:red;
		margin: 1100px;
}
.box6{
	color:red;
		margin: 1100px;

}
.box7{
	color:red;
		margin: 1100px;
}
.box8{
	color:red;
		margin: 1100px;

}
.box9{
	color:red;
		margin: 1100px;
}