*{
	background-color: grey;
	margin: 80px;
}

.box{
	background-color: white;
	color:pink;

}
.box1{
	color:pink;
	background-color: white;
	margin: -100px;
}

.box2{
	color:pink;
	background-color: white;
	margin: -90px;

}
.box3{
	color: pink;
	background-color: white;
	margin:-80px;
}
.box4{
	color:pink;
	background-color: white;
	margin: -70px;
}
.box5{
	color: pink;
	background-color: white;
	margin:-80px;
}

.box6{
	color:#CCBBEE;
	margin: -85px;
}
.box7{
	color:#CCCCFF;
	background-color: white;
	margin: -100px;
}

.box8{
	color:#CCCCFF;
	background-color: white;
	margin: -100px;
}
.box9{
	color:#CCCCFF;
	background-color: white;
	margin: -100px;
}






