*{
	background-color: #FFFFEE;
	margin: 150px;
}

.box{
	color:#CCBBCC;
	margin: 140px 100px;
	padding:10px;


}
.box1{
	color:black;
	background-color: #FFEEFF;
	margin: -200px 10px;
}

.box2{
	color:black;
	background-color: #FFEEFF;
	margin: -200px -10px;
}

.box3{
	color:black;
	background-color: #FFEEFF;
	margin: -200px 10px;
}
.box4{
	color:black;
	background-color: #FFEEFF;
	margin: -200px 10px;
}
.box5{
	color:black;
	background-color: #FFEEFF;
	margin: -200px 10px;
}

.box6{
	color:black;
	background-color: #FFEEFF;
	margin: -200px 10px;
}
.box7{
	color:black;
	background-color: #FFEEFF;
	margin: -200px -10px;
}

.box8{
	color:black;
	background-color: #FFEEFF;
	margin: -200px 10px;
}
.box9{
	color:#CCCCFF;
	background-color: white;
	margin: -70px;
}






